@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at top center, rgba(18, 39, 90, 1) 0%, rgba(16, 16, 30, 1) 100%);
    min-height: 100vh;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body.swal2-shown>[aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(4px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 72px;
}

.logo {
    flex: 0 1 auto;
    margin-right: 20px;
}

.navbar {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
}

.listItems {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    font-size: 16px;
    margin: 0 20px;
}

.item a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.item.active a {
    color: #FFC436;
}

.item.active a:hover {
    color: #5C69F5;
}

.item a:hover {
    color: #5C69F5;
    transition: ease-out .4s 100ms;
}

.item-second {
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
}

.swift-view {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-left: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    color: white;
}

.swift-view:hover {
    transform: scale(1.15);
}

.actions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

button {
    background: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 16px;
    width: 98px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.login {
    background: #1976D2;
    border: transparent;
}

.signup {
    background: #5C69F5;
    border: transparent;
}

a {
    text-decoration: none;
    color: white;
}

.login:hover {
    background: #2196F3;
    transition: background-color 0.3s ease;
}

.signup:hover {
    background: #7B66FF;
    transition: background-color 0.3s ease;
}

.title {
    font-size: 30px;
    color: white;
    width: 700px;
    height: 198px;
    position: relative;
    top: 100px;
    left: 200px;
}

.title p {
    font-size: 18px;
    color: #D1D5D8;
}

.title-1 {
    font-size: 30px;
    color: white;
    position: relative;
    top: 100px;
    left: 200px;
}

.title-1 p {
    font-size: 18px;
    color: #D1D5D8;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 0;
}

.buttons button {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: transparent;
    background: #5C69F5;
    width: 187px;
    height: 66px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 30px;
}

.buttons-1 button {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: transparent;
    background: #5C69F5;
    width: 160px;
    height: 50px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 30px;
}

.buttons button:nth-child(2) {
    background-color: #1976D2;
}

.buttons button:hover {
    background: #7B66FF;
}

.buttons-1 button:hover {
    background: #1976D2;
}

.buttons button:nth-child(2):hover {
    background: #2196F3;
}

.know {
    color: white;
}

.poweredby {
    margin-top: 30px;
    margin-left: 40px;
}

.poweredby p {
    color: #D1D5D8;
}

.image {
    position: relative;
    top: -700px;
    left: 800px;
}

.image img {
    width: 670px;
    height: 630px;
}

.targets {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    left: 200px;
    padding: 60px 0 0 0;
}

.target-1 h3,
.target-2 h3 {
    color: #ffffff;
}

.target-1 p,
.target-2 p {
    width: 247px;
    color: #D1D5D8;
}

.icon img {
    width: 50px;
    width: 50px;
}

.heading h2 {
    position: relative;
    top: 50px;
    left: 480px;
    color: #ffffff;
}

.heading p {
    position: relative;
    top: 50px;
    left: 415px;
    width: 500px;
    text-align: center;
    color: #D1D5D8;
    font-size: 16px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.content {
    padding-top: 100px;
}

.content h2 {
    color: #ffffff;
    width: 420px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe input[type="email"] {
    padding: 10px;
    border: transparent;
    border-radius: 20px;
    width: 350px;
    height: 40px;
}

.subscribe button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: transparent;
    border-radius: 30px;
    background-color: #5C69F5;
    opacity: 25%;
    color: #ffffff;
    font-weight: bold;
}

.subscribe button svg {
    margin-left: 5px;
}

.subscribe-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.subscribe-checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* STYLES OF MODE LIGHT */
body.light {
    background: #fbfbfb;
}

body.light .item a {
    color: #151515;
}

body.light .item.active a {
    color: #5C69F5;
}

body.light .item.active a:hover {
    color: #2196F3;
}

body.light .item a:hover {
    color: #7B66FF;
}

body.light .title {
    color: #1F2927;
}

body.light .title p {
    color: #4B5563;
}

/* MEDIA QUERIES: SCREEN DESKTOP (1024 - 1440) */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {
    .title,
    .title-1 {
        position: relative;
        top: 50px;
        left: 100px;
        width: 574px;
        height: 198px;
        font-size: 20px;
    }

    .targets {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 50px;
        left: 100px;
    }

    .title p,
    .title-1 p {
        font-size: 16px;
    }

    .buttons button {
        width: 160px;
        height: 56px;
        font-size: 14px;
        margin-top: 15px; 
    }

    .image {
        position: relative;
        top: -450px;
        left: 650px;
    }

    .image-1 {
        position: relative;
        top: -250px;
        left: 650px;
    }

    .image img,
    .image-1 img {
        width: 470px;
        height: 430px;
    }

    .icon img {
        width: 40px;
        width: 40px;
    }
}